<!DOCTYPE html>
<html>
<head>
  <title>Node Monitor App</title>
</head>
<body>
  <h1>Node.js App Monitoring</h1>
  <ul>
    <li><a href="/log">Write Log</a></li>
    <li><a href="/slow">Delayed Response</a></li>
    <li><a href="/read">Read Log</a></li>
    <li><a href="/metrics">Metrics</a></li>
  </ul>
</body>
</html>